@inject IConfiguration _config
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1>About Us</h1>
            <p class="lead text-muted">Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Commodo ullamcorper a lacus vestibulum sed arcu non odio. Id faucibus nisl tincidunt eget nullam non nisi est sit. Ante in nibh mauris cursus mattis. Felis eget nunc lobortis mattis aliquam faucibus. Enim sit amet venenatis urna. Diam maecenas ultricies mi eget mauris pharetra.</p>
            <p class="lead text-muted">Eu turpis egestas pretium aenean pharetra magna ac placerat. Sagittis purus sit amet volutpat consequat mauris nunc congue nisi. Velit euismod in pellentesque massa placerat duis. Mattis vulputate enim nulla aliquet. Enim blandit volutpat maecenas volutpat. Felis bibendum ut tristique et.</p>
        </div>
    </div>
</section>