@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container my-4">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <dl>
            <dt>In metus.</dt>
            <dd>- Tempus iaculis urna id volutpat lacus. Ut sem nulla pharetra diam sit amet nisl. Consectetur a erat nam at lectus urna duis convallis convallis. Elit duis tristique sollicitudin nibh sit amet. Dictum non consectetur a erat nam. Lectus nulla at volutpat diam.</dd>
            <dt>Facilisis mauris</dt>
            <dd>- Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Pharetra diam sit amet nisl suscipit adipiscing. Eget nunc lobortis mattis aliquam.</dd>
            <dt>Facilisis mauris</dt>
            <dd>- sit amet massa vitae tortor condimentum lacinia quis. Aliquam nulla facilisi cras fermentum odio eu feugiat.</dd>
            <dt>Rhoncus aenean</dt>
            <dd>- Velit euismod in pellentesque massa placerat duis. Mattis vulputate enim nulla aliquet. Enim blandit volutpat maecenas volutpat. Felis bibendum ut tristique et. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Id velit ut tortor pretium viverra suspendisse.</dd>
            <dt>Maecenas sed</dt>
            <dd>- empus iaculis urna id volutpat lacus. Ut sem nulla pharetra diam sit amet nisl. Consectetur a erat nam at lectus urna duis convallis convallis.</dd>
        </dl> 
    </div>
</div>

